<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="EventHubConnectionString" value="Endpoint=sb://rb-wiredbraincoffeeehns.servicebus.windows.net/;SharedAccessKeyName=SendAndListenPolicy;SharedAccessKey=Y+KiJxZKklT/W7TlxTXxFt3Uu3CQ8/p31KlCf2t509g=;EntityPath=rb-wiredbraincoffeeeh"/>
  </appSettings>
</configuration>